@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.has-margin-top {
  margin-top: 20px;
}

.has-margin-right {
  margin-right: 8px;
}

.is-left {
  float: left;
}

.is-right {
  float: right;
}
